@use 'src/styles/vars';

.presentation{
  display: inline-block;
  background-image: url('src/assets/images/presentation.jpg');
  border-bottom: 4.5rem solid black;
  background-size: cover;
  width: 100%;
  height: 120vh;

  @media (max-width: 1023px) {    
    height: 105vh;
  }

  @media (max-width: 425px) {    
    margin-top: 3rem;
    background-position: bottom 50% right 80%;
}

  &-container{
    position: absolute;
    top: 20%;
    right: 1%;
    min-width: 250px;
    max-width: 600px;
    height: 190px;
    padding: 2rem;

    @media(min-width: 426px) and (max-width: 1024px) {
      position: inherit;
      margin: 45% auto 0 auto;
    }
    @media (max-width: 425px) {      
      top: 5%;
      right: 0;
    }
  }
}

.summary{
  &-title{
    text-align: center;
    font-size: 3em;
    font-weight: bold;
    margin: auto;
    text-shadow: 2px 2px 2px black;
    overflow: hidden;
    white-space: nowrap;  
    animation: 
      typing 2s steps(50, end);

    @media (max-width: 425px) {      
      font-size: 2em;
    }

    &-green {
      color: green;
    }

    &-white {
      color: white;
    }

    &-red {
      color: red;
    }
  }

  &-text{
    line-height: 1.5em;
    color: black;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;

    @media(max-width: 425px) {
      color: white;
      text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    }
  }
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

