@use 'src/styles/vars';

.presentation{
  display: inline-block;
  background-image: url('src/assets/images/presentation.jpg');
  border-bottom: 4.5rem solid black;
  background-size: cover;
  width: 100%;
  height: 120vh;

  @media (max-width: 1023px) {    
      height: 105vh;
  }

  &-container{
    position: absolute;
    top: 28%;
    right: 1%;
    min-width: 250px;
    max-width: 600px;
    min-height: 225px;
    max-height: 600px;
    padding: 2rem;
    border: solid 1px rgba(255, 255, 255, 0.2);
    border-radius: 1rem;
    background: linear-gradient(rgba(#00416A, 0.4), rgba(#E4E5E6, 0.4));

    @media(min-width: 426px) and (max-width: 1024px) {
      position: inherit;
      margin: 50% auto 0 auto;
    }
    @media (max-width: 425px) {      
      top: 13%;
      width: 100%;
      max-height: 300px;
      right: 0;
    }
  }
}

.summary{
  &-title{
    text-align: center;
    font-size: 3em;
    font-weight: bold;
    margin: auto;
    text-shadow: 2px 2px 2px black;
    overflow: hidden;
    white-space: nowrap;  
    animation: 
      typing 2s steps(50, end);

    @media (max-width: 425px) {      
      font-size: 2em;
    }

    &-green {
      color: green;
    }

    &-white {
      color: white;
    }

    &-red {
      color: red;
    }
  }

  &-text{
    line-height: 1.5em;
    color: white;
    text-shadow: 2px 2px 2px black;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
  }
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

