@use 'src/styles/vars';

.associationPage {
  padding-top: 180px;
  // background: linear-gradient(#BBD2C5, #536976, #292E49);
  background-image: url('src/assets/images/background-black.jpg');
  background-size: cover;
  @media (max-width:425px){
    padding-top: 100px;
  }

  &-title {
    margin-bottom: 2rem;
    text-align: center;
    font-size: 3em;
    font-weight: 900;
    text-transform: uppercase;
    color: white;
    letter-spacing: 0.3px;   

    @media (max-width: 425px) {   
      font-size: 2rem;
    }
  }

  &-content {
    margin-top: 4rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}
