@use 'src/styles/vars';

.associationPage {
  padding-top: 180px;
  height: 95vh;
  background: linear-gradient(#BBD2C5, #536976, #292E49);
  @media (max-width:425px){
    padding-top: 100px;
  }

  &-title {
    margin-bottom: 2rem;
    text-align: center;
    font-size: 3em;
    font-weight: 900;
    text-transform: uppercase;
    text-shadow:0 0 2px white,0 0 30px white,0px 0px 5px white, 0 0 150px white;
    color: black;
    letter-spacing: 0.3px;   

    @media (max-width: 425px) {   
      font-size: 2rem;
    }
  }
}
