@use 'src/styles/vars';

.explainAssociation {
  transition: transform 0.5s;

  &:hover {
    opacity: .5;
    transform: scale(1.1);
  }

  &-container {
    width: 70%;
    max-width: 550px;
    margin: auto;
    margin-bottom: 4rem;
    border: 1px solid black;
    box-shadow: 15px 15px 18px black;
    border-radius: .5rem;
    position: relative;
  
    @media (max-width:425px){
      width: 90%;
    }    
  }

  &-image {
    border-radius: .5rem;  
  }
  
  &-title {
    font-weight: 900;
    color: black;
    text-align: center;
    background-color: rgba(vars.$colorGrey, 0.5);
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-top: 1rem;
    border-radius: 0 0 .5rem .5rem;
    padding-bottom: 1rem;
  }
}

.modal{

  &-button {
    font-size: 2em;
    width: 45px;
    height: 50px;
    display: flex;
    align-self: flex-end;
    color: vars.$colorPrimary;
    border: none;
    background-color: inherit;
    margin: .5rem 0;
  }

  &-style {
    background: linear-gradient(90deg, #8e9eab, #eef2f3);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 70%;
    overflow: auto;
    border: 2px solid #000;
    border-radius: 5px 5px 5px 5px;
    display: flex;
    flex-direction: column;
  
    @media (max-width:425px){
      width: 90%;
    }
}

}

.modal-modal {

  &-title {
    text-align: center;
    padding-top: .5rem;
  }

  &-description {
    padding-top: 2rem;
    padding-bottom: 3rem;
    width: 80%;
    align-self: center;
  }
}

.MuiTypography-root.modal-modal-title.MuiTypography-h4{
  font-family: 'Zen Kurenaido', sans-serif;
}

.MuiTypography-root.modal-modal-description.MuiTypography-body1 {
  font-family: 'Zen Kurenaido', sans-serif;
}

.modal-schema {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}
