@use 'src/styles/vars';
.headerMyProfilPage {

  &-link {
    font-size: large;

    :hover {
      color: vars.$colorTurquoise;
      text-shadow: .5px .5px .5px vars.$colorPrimary;
    }

    &--active {
      border-bottom: 2px white solid;
      transform: scale(1.4);
      color: vars.$colorTurquoise;
      text-shadow: .5px .5px .5px vars.$colorPrimary;
    }
  }
  &-list{
    margin-top: 4rem;
    display: flex;
    justify-content: space-evenly;
    color: white;

    &-item {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}
