$colorPrimary: #142850;
$colorSecondary: #27496D;
$colorTurquoise: #00909E;
$colorGrey: #DAE1E7;

$colorPrimaryBis: #1F4E5F;
$colorSecondaryBis: #79A8A9;
$colorTurquoiseBis: #AACFD0;
$colorGreyBis: #F4F7F7;
