@use 'reset';
@use 'vars';

html{
  box-sizing: border-box;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Zen Kurenaido', sans-serif;
	width: 100%;
}

img {
  max-width: 100%;
}

p{
  margin-top: .75rem;
}

