@use 'src/styles/vars';

.tripsList {
  // background-image: url('src/assets/images/asphalt-dark.jpg');
  background: linear-gradient(#BBD2C5, #536976, #292E49);
  
  &-container {
    padding-top: 4rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  &-title {
    padding-top: 180px;
    text-align: center;
    font-size: 3em;
    font-weight: 900;
    text-transform: uppercase;
    text-shadow:0 0 2px white,0 0 30px white,0px 0px 5px white, 0 0 150px white;
    color: black;
    letter-spacing: 0.3px;  
    
    @media (max-width: 425px) {    
      font-size: 2rem;
      padding-top: 6rem;
    }
  }
 
}
