@use 'src/styles/vars';

.tripsList {
  background-image: url('src/assets/images/background-black.jpg');
  background-size: cover;
  // background: linear-gradient(#BBD2C5, #536976, #292E49);
  
  &-container {
    padding-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  
  &-title {
    padding-top: 180px;
    text-align: center;
    font-size: 3em;
    font-weight: 900;
    text-transform: uppercase;
    color: white;
    letter-spacing: 0.3px;  
    
    @media (max-width: 425px) {    
      font-size: 2rem;
      padding-top: 6rem;
    }
  }
}

