@use 'src/styles/vars';

.lastTrips{

  &-title {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 1.5em;
    text-transform: uppercase;
    text-align: center;
    border: white 1px solid;
    padding: 1rem;
    color: vars.$colorTurquoise;
    text-align: center;
    background-color: white;
  }

  &-cardsList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width: 90%;
    margin: 2rem auto 0 auto;
  }

  &-content {
    height: auto;
    background-image: url('/public/images/asphalt-dark.jpg');
  }
}

