@use 'src/styles/vars';

.login {
  // background: linear-gradient(#BBD2C5, #536976, #292E49);
  background-image: url('/public/images/background.jpg');
  background-size: cover;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 90vh;

  @media (max-width:425px){
    padding-top: 50px;
  }

  &-form {
    max-width: 600px;
    width: 90%;
    padding: 2rem 4rem;
    margin-bottom: 2rem;

    @media (max-width:425px){
      padding: 1rem;
    }
  }

  &-text {
    margin-bottom: 2rem;
    text-align: center;
    font-size: 2em;
    font-weight: 900;
    text-transform: uppercase;
    color: white;
    letter-spacing: 0.3px;   

    @media (max-width: 425px) {   
      font-size: 2rem;
    }
  }

  &-formSubmitBtn {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
  }

  &-joinUs {
    font-size: 1.5em;
    color: white;
    text-align: center;
  }

  &-createAccount {
    color: #E42A23;

    &:hover {
      color:  #0F9F3F;
    }
  }
}


