@use 'src/styles/vars';

.confirmationMessage{
  position: fixed;
  top: 33vh; 
  left: 50%;
  width: 60%;
  padding: 0.75rem;
  text-align: center;
  background-color: white;
  font-size: x-large;
  color:  #0F9F3F;
  border-radius: 1rem;
  z-index: 9999;
  transform: translateX(-50%);
  animation-duration: 5s; 
  animation-name: softMessage;
}

@keyframes softMessage {
  from {
    opacity: 0;
  }

  25% {
    opacity: 1;
  }

  75% {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
