@use 'src/styles/vars';

.section-container {
  display: flex;
  max-width: 90%;
  @media (max-width: 1023px) {    
    flex-direction: column;
  } 

}

.trip {
  background-image: url('src/assets/images/background-black.jpg');
  background-size: cover;
  display: flex;
  flex-direction: column;

  &-containerMap {
    @media(min-width: 426px) and (max-width: 1024px){
      align-self: center;
    }
  }

  &-button {
    margin: 150px 0 0 40px;
    font-size: 1.5em;
    font-family: 'Zen Kurenaido', sans-serif;
    border: inherit;
    background-color: inherit;
    color: #E42A23;
    font-weight: 800;

    &:hover {
      color: #0F9F3F;
    }

    @media (max-width: 425px) {    
      font-size: 1.2em;
      margin: 60px 0 30px 0;
    } 
  }  

  &-class-adult {
    color: #0F9F3F;
    font-weight: 800;
    font-size: 1.3em;
  }

  &-tarif-adult {
    color: #0F9F3F;
    font-weight: 800;
  }

  &-class-young {
    color: black;
    font-weight: 800;
    font-size: 1.3em;
  }

  &-tarif-young {
    color: black;
    font-weight: 800;
  }

  &-class-junior {
    color: #E42A23;
    font-weight: 800;
    font-size: 1.3em;
  }

  &-tarif-junior {
    color: #E42A23;
    font-weight: 800;
  }

  &-summary {
    max-width: 100%;
    width: 850px;
    text-align: justify;
    margin: inherit;
    margin: auto;
    padding: 1rem;
    overflow: auto;

    &-adress {
      margin: 2rem 0 1rem 0;
      font-size: 1.7em;
      font-weight: 900;
      text-align: center;
    }

    &-date {
      margin: 2rem 0 1rem 0;
      font-size: 1.5em;
      font-weight: 900;
      text-align: center;
    }

    @media (max-width: 425px) {    
      padding: 1rem;
    } 

    &-title {
      text-align: center;
      margin: 1rem 0;
      text-transform: uppercase;
      color: vars.$colorPrimary;
    }

    &-formul {
      margin-bottom: 1rem;
      font-size: 1.4em;
      color: vars.$colorSecondary;
    }
  }

  &-formul {
    &-adult {
      margin-top: 2rem;
    }
    &-junior {
      margin-top: 2rem;
    }
    &-young {
      margin-top: 2rem;
    }
  }
  &-image {
    margin: 2rem;
    height: 225px;
    width: 350px;
    
    @media (max-width: 1023px) {    
      margin: 1rem;
    }
  }
  
  &-title {
    margin: 0 1rem 2rem 1rem;
    text-align: center;
    font-size: 3em;
    font-weight: 900;
    text-transform: uppercase;
    color: white;
    letter-spacing: 0.3px;   

    @media (max-width: 425px) {    
      font-size: 2rem;
    }
  }

  &-info {
    border-top: 1px solid black;
    margin-top: 2rem;
    padding-top: 1rem;
  }

  &-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    line-height: 1.5em;
      
    @media (max-width: 1023px) {    
      &-image {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      }
    }

    &-summary {
      max-width: 100%;
      width: 900px;
      max-height: 100vh;
      overflow: auto;
      margin-bottom: 4rem;
      background-color: vars.$colorGrey;
      border-radius: .5rem;

      @media (max-width: 1023px) {    
        margin-top: 1rem;
      } 

      @media (max-width: 425px) {    
        margin-bottom: 2.5rem;
      }
    }
  }
}
