.mapContainer {
  height: 300px;
  width: 400px;
  margin-bottom: 2rem;
  border-radius: .5rem;
  align-self: center;

  @media (max-width: 425px) {    
    width: 100%;
    margin-left: inherit;
  } 
}

