@use 'src/styles/vars';

@media (max-width:425px){
  .nav{
    display: none;
  }
}

.nav.active {
  background-color: white;
}

.nav {
  background-color: rgba(vars.$colorGrey, 0.7);

  &-list{
    display: flex;
    justify-content: space-around;
    padding: 1rem;
    border: 1px vars.$colorSecondary solid;
  }

  &-link{
    text-align: center;
    color: vars.$colorPrimary;
    font-weight: 800;
    font-size: large;
    text-shadow: .5px .5px .5px vars.$colorGrey;

    
    &:hover {
      color: vars.$colorTurquoise;
      text-shadow: .5px .5px .5px vars.$colorPrimary;
      transition: 0.2s;
      transform: scale(1.4);
    }

    &--active {
      transform: scale(1.4);
      color: vars.$colorTurquoise;
      text-shadow: .5px .5px .5px vars.$colorPrimary;
    }
  }
}





